# =====================
# Node
# =====================
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# =====================
# Environment variables
# =====================
.env
.env.*
!.env.example

# =====================
# Build / Coverage
# =====================
dist/
build/
coverage/

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db

.vscode/
!.vscode/extensions.json

.idea/